.dark_bg{
  height: 150px;
  background-color: #0f0f38;
}
.blue_bg{
  height: 150px;
  background-color: #63c3c6;
}
.pink_bg{
  height: 150px;
  background-color: #F9627F;
}
.white_bg{
  height: 150px;
  background-color: #FFFFFF;
  border: 1px solid grey;
}