.pink_btn{
  background-image: linear-gradient(#f7839e, #f55a7f);
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .55);
}

.white_btn{
  background-image: linear-gradient(#ffffff, #bfbfbf);
  color: #0f0f38;
}